html {
  font-size: 16px;
}

/* Theme Color */
:root {
  --background-color: #fff;
  --main-darkgreen: #1f5636;
  --main-beige: #8f8350;
  --main-lightgrey: #e6e7e8;
  --main-darkgrey: #535353; 
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  line-height: 1.4em;
}

p {
  font-weight: 400;
  max-width: 60ch;
}

ul {
  line-height: 2em;
  list-style: none;
}

.material-icons, .fi {
  margin-right: 10px;
}

.material-icons {
  vertical-align: middle;
}

/* Icon Styling */

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}


header {
    margin: 2.5% auto;
    margin-bottom: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


img.profile {
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 60px;
  width: 160px;
  height: 160px;
}

/* Typography */

/* Color*/
h1,h4 {
  color: var(--main-darkgreen);
}
h2,h3 {
  color: var(--main-beige);
}

/* Size */
h2, h3 {
  font-size: 1.25rem;
}

h3, h4, strong {
  text-transform: uppercase;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}

h1,h3,h4, strong {
  letter-spacing: 0.075em;
}

th, td {
  padding: 10px 20px;
}

td.date {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;

}


.container {
  margin: 2.5% auto;
  width: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box {
  background-color: var(--main-lightgrey);
  width: 300px;
  height: 200px;
  padding-bottom: 40px;
}