html {
  font-size: 16px;
}

/* Theme Color */
:root {
  --background-color: #fff;
  --main-darkgreen: #1f5636;
  --main-beige: #8f8350;
  --main-lightgrey: #e6e7e8;
  --main-darkgrey: #535353; 
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

a, a:link {
  text-decoration: none;
}

a:visited {
  color: var(--main-darkgreen);
}

a:hover {
  text-decoration: underline;
}

header {
  margin: 0;
  text-align: right;
  padding: 0 10%;
}

img.background {
  position: absolute;
  margin: 0;
  width: 100%;
  height: auto;
}

nav ul {
  display: inline-flex;
}

nav li {
  width: 60px;
  padding-right: 40px;
}

header nav a:link {
  color: var(--main-darkgreen);
}

header nav a:visited {
  color: var(--main-beige);
}

/* Language Picker */
button.languagePicker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 10px;
}

button span{
  font-size: 0.75rem;
  margin-left: 5px;
}

button .material-icons {
  margin: 0;
}

.darkgreen {
  color: var(--main-darkgreen);
}

main {
  max-width: 1100px;
  margin: auto;
  background-color: var(--background-color);
  padding: 0 30px;
}

/* Icon Styling */
.material-icons, .fi {
  margin-right: 10px;
}

.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

h1 {
  color: var(--main-darkgreen);
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.075em;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  color: var(--main-beige);
  font-size: 1.25rem;
  line-height: 1.2;
}

h3 {
  color: var(--main-beige);
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  text-align: center;
}

h4 {
  color: var(--main-darkgreen);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  text-align: center;
  margin-bottom: 0;
  padding: 0 5px;
}

h5 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  margin: 5px;
}

strong {
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

ul {
  line-height: 2em;
  list-style: none;
}


.box {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  height: auto;
  margin: 0px 15px 0px;
  padding: 0px 10px;
  transition: background-color 500ms ease-out 2ms;
}

footer {
  height: 80px;
  background-color: var(--main-lightgrey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 10%;
}

/* Home Page Rulesets */



#bio {
  justify-content: center;
}

#bio p {
  font-weight: 400;
  max-width: 60ch;
}

#bio img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 5px 50px 10px;
}

/* Social Icons */

svg {
  fill: var(--main-beige);
  width: 32px;
  height: 32px;
  opacity: 0.7;
  margin-top: 10px;
  transition: fill 500ms ease-out 2ms;
}

#socialmedia a {
  text-decoration: none;
}

.github {
  width: 36.5px;
  height: 36.5px;
}

.behance, .linkedin, .instagram {
  padding: 4px;
}

.github:hover {
  fill: #7d349f;
}

.behance:hover {
  fill: #053eff;
}

.linkedin:hover {
  fill: #0e76a8;
}

.instagram:hover {
  fill: #dd2a7b;
}

#feature .box {
  background-color: rgba(230,231,232,0.75);
}

.programlang ul, 
.humanlang ul, 
.skills ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 10px;
}

.programlang ul li, 
.humanlang ul li {
  width: 130px;
}

.skills ul li {
  width: 220px;
}

/* Table */

table {
  padding-bottom: 20px;
}

th {
  padding: 0 20px 20px;
}

td {
  padding: 0 20px 20px;
}

td strong{
  color: inherit;
  transition: color 500ms ease-out 2ms;;
}

td strong:hover {
  color: var(--main-darkgreen);
}

td.date {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.project {
  width: 30%;
  padding-bottom: 40px;
}

#projects h4 {
  padding: 0;
}

/* Responsive */
@media only screen and (min-width: 1600px) {

  .box.left ul, .box.center ul {
    display: block;
  }

}

@media only screen and (max-width: 1024px){

  .container {
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .project {
    width: 45%;
  }

}

@media only screen and (max-width: 768px){

  h1 {
    font-size: 1.75rem;
  }

  h1, h2 {
    text-align: center;
  }

  img.profile {
    margin: 10px 0 0;
  }

  #socialmedia {
    text-align: center;
  }

  .box {
    margin-bottom: 30px;
  }

  .project {
    width: 90%;
  }

  article .container {
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
  }

}


@media only screen and  (max-width: 480px) {

  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
  }

  .container {
    width: 100%;
    flex-flow: column wrap;
    align-items: center;
  }

  .box {
    padding: 0;
  }

    /* Table */
  th {
    padding: 10px 0 0;
  }

  td {
    padding: 0 5px 20px 0;
  }

  .date {
    padding-right: 0;
  }

}