html {
  font-size: 16px;
}

/* Theme Color */
:root {
  --background-color: #fff;
  --main-darkgreen: #1f5636;
  --main-beige: #8f8350;
  --main-lightgrey: #e6e7e8;
  --main-darkgrey: #535353; 
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  line-height: 1.4em;
  padding: 30px;
}

p {
  font-weight: 400;
  max-width: 60ch;
}

a {
  text-decoration: none;
}

nav {
  margin: 0;
  width: 90%;
  text-align: right;
  background-color: white;
}

nav li {
  display: inline-block;
  width: 100px;
}

nav a:link {
  color: var(--main-darkgreen);
}

nav a:hover {
  text-decoration: underline;
}

nav a:visited {
  color: var(--main-beige);
}

div.greeting {
  margin: 10px 20px 40px;
}

h1 {
  color: var(--main-darkgreen);
  letter-spacing: 0.075em;
}

h2 {
  color: var(--main-beige);
  font-size: 1.25rem;
}

/* Social Icons */

svg {
  width: 32px;
  height: 32px;
  padding: 2px;
  fill: var(--main-beige);
  opacity: 0.7;
  margin-right: 6px;
  margin-top: 10px;
}

.github:hover {
  fill: #7d349f;
}

.behance:hover {
  fill: #053eff;
}

.linkedin:hover {
  fill: #0e76a8;
}

.instagram:hover {
  fill: #dd2a7b;
}

ul {
  line-height: 2em;
  list-style: none;
}

.material-icons, .fi {
  margin-right: 10px;
}

.material-icons {
  vertical-align: middle;
}

/* Icon Styling */

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

#bio {
    margin: 0 auto;
    margin-bottom: 4%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

img.profile {
  border-radius: 50%;
  margin-top: 40px;
  margin-right: 40px;
  width: 160px;
  height: 160px;
}

/* Typography */


/* Text Color*/
h4 {
  color: var(--main-darkgreen);
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.075em;
  margin-bottom: 0;
}

h3 {
  color: var(--main-beige);
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

strong {
  text-transform: uppercase;
  letter-spacing: 0.075em;
}



.container {
  margin: 2% auto;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box {
  margin-bottom: 20px;
}

.box.left, .box.center, .box.right {
  background-color: var(--main-lightgrey);
  width: 280px;
  padding-bottom: 20px;
  display: inline-flex;
  flex-direction: column;
}

.box.left ul, .box.center ul {
  display: inline-flex;
  flex-flow: row wrap;
}

.box.left ul li, .box.center ul li {
  width: 120px;
}

.box.right ul {
  display: inline-flex;
  flex-flow: row wrap;
}

.box.right ul li {
  width: 220px;
}

/* Table */

th, td {
  padding: 10px 20px;
}

td.date {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

/* Responsive */
@media only screen and  (max-width: 480px) {
  h1 {
    font-size: 1.75em;
  }

  h1, h2 {
    text-align: center;
  }
  img.profile {
    margin-right: 0px;
  }
  .socialmedia {
    text-align: center;
  }

  .box.left, .box.center, .box.right {
    width: 100%;
  }
}

@media only screen and  (min-width: 480px) and (max-width: 768px){
  h1, h2 {
    text-align: center;
  }
  img.profile {
    margin-right: 0px;
  }
  .socialmedia {
    text-align: center;
  }

  .box.left, .box.center, .box.right {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){

  .container {
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
  }

  .box.left, .box.center {
    width: 40%;
    height: 160px;
  }

  .box.right {
    width: 90%;
  }
}



@media only screen and (min-width: 1024px) and (max-width: 1600px){
  .box.left, .box.center, .box.right {
    width: 30%;
    height: 220px;
  }

  .box.left ul, .box.center ul {
    display: block;
  }
}

@media only screen and (min-width: 1600px) {
  .box {
    height: 220px;
  }
  .box.left ul, .box.center ul {
    display: block;
  }
}



